.todo-items-wrapper{
    color: #0e0e0e;
    display: flex;
    justify-content: space-between;
    margin: .75 em auto ;
    
}

.delete-task, .checkbox{
    cursor: pointer;
}
input[type="checkbox"].checkbox:checked +*{
    text-decoration: line-through;
}